.bg-purple {
  background-color: #6f42c1 !important;
}
.bg-orange {
  background-color: #fd7e14 !important;
}
.bg-orange2 {
  background-color: #FF731D!important;
}
.bg-blue {
  background-color: #1746A2!important;
}
.bg-lightblue {
  background-color: #2196F3 !important;
}
.bg-lightblue2 {
  background-color: rgb(36,73,216) !important;
}
.bg-lightblue3 {
  background-color: rgb(51,108,156) !important;
}
.bg-green {
  background-color: #79B301!important;
}
.bg-green2 {
  background-color: #54B435!important;
}
.bg-black {
  background-color: #000000!important;
}